<template>
    <div class="radio-toolbar">
        <label>Refresh: </label>
        <input type="radio" id="radio1" name="radios" @click="changeRefresh(1)">
        <label for="radio1">5s</label>

        <input type="radio" id="radio2" name="radios" @click="changeRefresh(2)">
        <label for="radio2">10s</label>

        <input type="radio" id="radio3" name="radios" @click="changeRefresh(3)" checked>
        <label for="radio3">15s</label>
    </div>
</template>

<script>
export default {
    name: 'radio-comp',
    methods: {
        changeRefresh(option) {
            if(option >= 1 && option <=3) {
                this.$toast.success('Refresh time updated!');
                this.$store.dispatch('market/updateRefresh', option)
            } else {
                this.$toast.error('Invalid refresh option!');
            }
        }
    }
}
</script>
