<template>
    <table>
        <thead>
            <th>From</th>
            <th>To</th>
            <th>Ratio</th>
        </thead>
        <tbody>
            <tr v-for="(currency, index) in tableData" :key="index">
                <td>{{ currency.from }}</td>
                <td>{{ currency.to }}</td>
                <td>{{ currency.rate }}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name: 'table-comp',
    props: {
        tableData: {
            type: Object,
            required: true,
        }
    }
}
</script>
