<template>
    <div class="container">
        <Loader v-if="this.$store.getters['market/getStatus']"/>
        <main v-else>
          <Header />
          <Radio />
          <Table :tableData="tableData" />
        </main>
    </div>
</template>

<script>
import '@/assets/styles/main.scss';
import Table from './components/Table';
import Header from './components/Header';
import Loader from './components/Utils/loader';
import Radio from './components/Radio';
import { mapGetters } from 'vuex';

export default {
    components: {
        Table,
        Header,
        Radio,
        Loader,
    },
    computed: {
        ...mapGetters({
          error: 'market/getError',
          currencies: 'market/marketData',
          refreshTime: 'market/getRefreshTime'
        })
    },
    data() {
      return {
        tableData: {},
        timerInterval: null,
      }
    },
    methods: {
      setRefresh() {
        this.timerInterval = setInterval(()=> {
          this.$store.dispatch('market/getMarketData');
        }, this.refreshTime)
      }
    },
    watch: {
      error(error) {
        if(error[0] === true) {
          clearInterval(this.timerInterval);
          this.$toast.error(error[1]);
        }
      },
      currencies(payload) {
        this.tableData = payload;
      },
      refreshTime() {
        clearInterval(this.timerInterval);
        this.setRefresh();
      }
    },
    mounted() {
      this.$store.dispatch('market/getMarketData');
      this.setRefresh();
    }
}
</script>