@import "./_variables.scss";
body {
    background-color: $backgroundColor;
    color: $primaryColor;
    font-family: 'Spartan', sans-serif;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    border-bottom: 2px solid $primaryColor;
    letter-spacing: 5px;
    text-transform: uppercase;
}

table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    thead {
        background-color: $tHeadColor;
        font-size: 18px;
        color: white;
        th {
            padding: 10px;
        }
    }
    tbody {
        td {
            border: 10px solid $tHeadColor;
            padding: 20px;
        }
    }
}

button {
    background-color: $btnColor;
    border: none;
    padding: 10px;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    transition: background-color .1s;
    &:hover {
        background-color: $primaryColor;
        color: white;
        cursor: pointer;
    }
}

.radio-toolbar {
    margin-top: 10px;
    text-align: right;

    input[type="radio"] {
        display: none;
    }
    label {
        display: inline-block;
        background-color: $primaryColor;
        color: white;
        padding: 10px 11px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;        
    }
    input[type="radio"]:checked+label {
        background-color: $btnColor;
    }
}